vigilant-doodle/target
vigilant-doodle/.idea
vigilant-doodle/vigilant-doodle.iml
dokumentaantio/luokkakaavio.mdj
rsync-checkstyle-javadoc.sh
vigilant-doodle/config.properties
vigilant-doodle/test.properties
